

.container
  .row
    .col-xs-12.text-center
      %h1 Photograph Your Beautiful Face

      #webcam

      %h3 We are developing a connected mirror for a social world. Capture meaningful memories effortlessly and with a smile on your face.

  .row
    .col-xs-12.text-center
      = link_to "Sign up", new_user_registration_path, class: "btn btn-primary"
      = link_to "Sign in", new_user_session_path, class: "btn btn-primary"
